
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AngularTestProject</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    Test
    <app-root></app-root>
    <script src="~/Scripts/AngularClient/runtime.js" type="module"></script>
    <script src="~/Scripts/AngularClient/polyfills.js" type="module"></script>
    <script src="~/Scripts/AngularClient/styles.js" type="module"></script>
    <script src="~/Scripts/AngularClient/vendor.js" type="module"></script>
    <script src="~/Scripts/AngularClient/main.js" type="module"></script>
</body>
</html>

